@mixin containerStyles {
  margin-top: 15rem;
  padding: 0 5rem;
}

@mixin titleStyles {
  margin-bottom: 8rem;
  text-decoration: underline;
  text-align: center;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
}
