@import '/src/styles/global.scss';

.container {
  @include containerStyles;

  .title {
    @include titleStyles;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20rem;
      height: 30rem;
      margin-right: 6rem;

      border-radius: 1.3rem;
    }

    ul {
      padding-top: 5rem;
      height: 30rem;

      li {
        margin-bottom: 2rem;

        font-size: 1.4rem;
        font-family: 'main_font';
      }
    }
  }
}
